@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

page {
	font-family: 	Arial;
	font-size:		10pt;
	background-color: #444;
}

#content-stack {
}

#control-stack {
	padding: 5px;
}
#control-stack label {
	color: white;
}

#multiview-scrollbox {
	background-color: #666;
}

.thumbnail-container {
	padding: 	50px;
	width: 		500px;
}

.loader-header {
	padding: 5px;
}

.loader-header > label {
	color: white;
}
