@namespace url("http://www.w3.org/1999/xhtml");

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

div.facet {
    display: block;
}

.pivot-pane-header {
    margin-top: 0px;
}

div.pivot-pane-footer {
    border-top: none;
}

div.facet-pane-controls {
    border-top: none;
}