@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

listbox.companion-pageSession-activatingStagePage-logList {
	border-top-style:      none;
	border-bottom-style:   none;
	border-left-style:     none;
	border-right-style:    none;
	background-color:      transparent;
}

#companion-sidePaneSplitter {
}

#companion-sidePane {
	width: 	200px;
}

.companion-typeFacet {
	height: 17em;
}

.companion-facet-box {
    height: 17em;
    margin-top: 1em;
}

splitter.companion-facetContainer-splitter {
    border-top: none;
    border-bottom: none;
}

.companion-facet-header label {
}

.companion-facetContainer-sectionLabel {
	font-size: 120%;
	font-weight: bold;
}

.companion-facetContainer {
	padding: 5px;
	-moz-appearance: listbox;
}

tree.companion-facet-valuesContainer {
    margin: 0;
    padding: 0;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}

