/* This is just an example.  You shouldn't do this. */
#companion-hello
{
  color: red ! important;
}

#companion-sidePane {
	width: 200px;
}

listbox.companion-pageSession-activatingStagePage-logList {
	border-top-style:      none;
	border-bottom-style:   none;
	border-left-style:     none;
	border-right-style:    none;
	background-color:      transparent;
}
