@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

listbox.companion-pageSession-activatingStagePage-logList {
    border-top-style:      none;
    border-bottom-style:   none;
    border-left-style:     none;
    border-right-style:    none;
    background-color:      transparent;
}

#companion-sidePaneSplitter {
}

#companion-sidePane {
    width:     200px;
}

#companion-statusBarPanel-progress {
    margin-right: 10px;
}

#companion-statusBarPanel-progress image {
    vertical-align: middle;
}

#companion-statusBarPanel-progress label {
}

vbox.companion-facetPanel {
    padding:  10px;
}

vbox.companion-pivotPanel {
    padding:  10px;
}